.input-div{
    padding: 30px;   
}

.section-contact{ 
    .contact-div{
	padding-top: 10px;
    padding-bottom: 25px;
	width: 90%;
	margin-left: auto;
	margin-right: auto 
}
}
.section-contact .contact-div p{
	font-size: 12px;
	padding-left: 15px;
	padding-right: 15px
}
.input-field{
	margin-left: 0px;
}
label{
	margin-left: 30px;
}
i .prefix{
	margin-right: 30px;
	margin-top: 50px;
}
input{
	margin-left: 50px;
}